*/*/config.old
*/*/rootfs_config.old
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata.original
*.o
*.jou
*.log
*.old
*.log.old
.Xil/
components/plnx_workspace
components/yocto
final-firmwares/
vivado-hw/
project-spec/hw-description
project-spec/configs/rootfsconfigs
project-spec/configs/.statistics
project-spec/configs/configs
